<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"/>
    <property name="hibernate.connection.url">jdbc:mysql://localhost/ata_reuniao?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="model.TbPauta"/>
    <mapping class="model.TaParticipantes"/>
    <mapping class="model.TbCargo"/>
    <mapping class="model.TbFuncao"/>
    <mapping class="model.TbCompromisso"/>
    <mapping class="model.TbEmpresa"/>
    <mapping class="model.TbSetor"/>
    <mapping class="model.TbReuniao"/>
    <mapping class="model.TaFuncionario"/>
    <mapping class="model.TbProjeto"/>
    <mapping class="model.TbPessoa"/>
    <mapping class="model.TbAssunto"/>
  </session-factory>
</hibernate-configuration>
